<p id="notice"><%= notice %></p>



    <div class="card-deck">
  
    <% @books.each do |book| %>
      <div class="card" style="max-width: 18rem;">
        <img class="card-img-top" src=<%= url_for(book.image) %> alt="Card image cap">
        <div class="card-header"><%= book.title %></div>
        <div class="card-body">
        
        <h5 class="card-title"><%= book.author.name %></h5>
        <p class="card-text"><%= book.descr %></p>
        <%= link_to 'Show', book, class:"btn btn-primary" %>
        <% if current_user && current_user.admin %>
        <%= link_to 'Edit', edit_book_path(book), class:"btn btn-primary" %>
        <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %>
        <%end%>
      </div>
    </div>
    <% end %>
    </div>

 

<br>


